body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.maplibregl-popup {
  max-width: 200px;
}

.maplibregl-popup-content {
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}